@media(max-width: 790px) {
    .header {
        flex-direction: column;
        padding: 50px;
    }

    .logo h1 {
        font-size: 4rem;
    }

    .menu {
        flex-direction: column;
        margin-top: 100px;
    }

    .menu li {
        padding: 33px 0;
    }

    .menu li:last-child {
        margin-top: 3rem;
    }
    
    .menu li a {
        font-size: 4rem;
        padding: 17px 45px;
        margin: 0;
    }

    .menu li a.btn {
        font-size: 3rem; 
        padding: 15px;
    }
}